
main{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
}

button{
    align-self: center;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}